*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* search.css */

#search-bar {
  text-align: center;
  padding: 20px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="text"] {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
}

input[type="text"]:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

button[type="submit"] {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-left: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

/* Responsive styles for small screens */
@media screen and (max-width: 600px) {
  input[type="text"] {
    width: 100%;
  }
  
  button[type="submit"] {
    margin-top: 10px;
    width: 100%;
  }
}
